body{
	text-align: center;
	margin:0 10% 10% 10%;
}
nav a{
	text-decoration: none;
	color:white;
	margin:2%;
	cursor:pointer;
}
a:hover{
	color:orange;
}
.navBar{
	background-color:#0a0941;
	font-size:20px;
	padding: 1%;
	text-align: right;
}
@media only screen and (max-width:1050px){
	body{
		margin:0;
	}
}