body{
	text-align: center;
	margin:0 10% 10% 10%;
}
nav a{
	text-decoration: none;
	color:white;
	margin:2%;
	cursor:pointer;
}
a:hover{
	color:orange;
}
.navBar{
	background-color:#0a0941;
	font-size:20px;
	padding: 1%;
	text-align: right;
}
#grid{
	border-style: solid;
	border-color: black;
}
.delete{
	position:absolute;
	top:5px;
	left:5px;
	background-color: #4c0000;
	border:none;
	color:white;
	opacity:0.5;
	cursor:pointer;
}
img{
	max-width:250px;
}
input{
	padding:1%;
	margin:1%;
}
@media only screen and (max-width:1050px){
	body{
		margin:0;
	}
}